.first_col {
  background-color: white;
  height: 550px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  width: 550px;
  left: 155px;
  top: 171px;
  border-radius: 20px;
}
.img-fluid {
  border-radius: 20px;
}

.row-last {
  width: 50% !important;
  position: relative !important;
  left: 450px;
  top: 50px;
  height: 150px;
  padding-bottom: 100px !important;
  background-color: whitesmoke;
  border-radius: 20px;

}

.btn-primary {
  border: #494949;
  &:hover {
      background-color: green !important;
  }
}

.form-control {
  height: 52px;
  background: #fff;
  font-size: 14px;
  border-radius: 2px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #424241;
}
.form-control[type=text]:focus {
border: 2px solid #555;
}
@media only screen and (max-width: 600px) {
  .first_col {
      position: initial;
      left: 0 !important;
  }

  .sec_col {
      order: 1 !important;
  }

  .row-last {
      left: 0 !important;
      width: 100% !important;
      height: 500px !important;
      top: 0 !important;
  }
}




// main {
//     background: url('https://i.ibb.co/rp1jjYB/dariusz-sankowski-3-Oi-YMg-DKJ6k-unsplash.jpg');
//     background-size: cover;
//     position: relative;
//     padding: 0;
//     margin: 0;
//     background-repeat: no-repeat;
//     background-position: center; /* This property centers the image */
//   }
//   form {
//     background: rgba(white, 0.8);
//     gap: 5px;
//   border-radius: 10px;
//     padding: 30px;
//   }
  
// .container {
//     display: flex;
//     justify-content: center;
//     text-align: left;
//     font-size: 18px;
//     gap: 20px;
// }

// .number {
//   margin: 20px;  
// }
// .email {
//   margin: 20px;  
// }
// .location {
//   margin: 20px;  
// }
// input {
//   margin: 10px;
// }
// textarea {
//   margin: 10px;
// }
// button {
//   margin: 10px;
  
//   &:hover {
//     background: rgba(30, 80, 60);
//   }
  
// }
// .location {
//   display: flex;
 
  
// }

// img {
//   width:50px;
//   height: 50px;
//   margin-right: 10px;
//   // border: 0px;
//   // border-radius: 50%;
//   // background-color: white;
 
// }

// .contacts{
//  margin: 20px;

// }

