.first_col {
  background-color: white;
  height: 550px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  width: 550px;
  left: 155px;
  top: 171px;
  border-radius: 20px;
}
.img-fluid {
  border-radius: 20px;
}

.row-last {
  width: 50% !important;
  position: relative !important;
  left: 350px;
  top: 40px;
  height: 150px;
  padding-bottom: 100px !important;
  background-color: rgb(233, 218, 218);
  border-radius: 20px;

}

.btn-primary {
  border: #494949;
  &:hover {
      background-color: green !important;
  }
}

.form-control {
  height: 52px;
  background:white;
  font-size: 14px;
  border-radius: 2px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #424241;
}
.form-control[type=text]:focus {
border: 2px solid #555;
}
@media only screen and (max-width: 700px) {
  .first_col {
      position: initial;
      left: 0 !important;
  }

  .sec_col {
      order: 1 !important;
  }

  .row-last {
      left: 0 !important;
      width: 100% !important;
      height: 300px !important;
      top: 0 !important;
  }
}
.error {
  color: red;
}