main {
    background: url('https://i.ibb.co/rp1jjYB/dariusz-sankowski-3-Oi-YMg-DKJ6k-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* This property centers the image */
  }
  .form {
    gap: 10px;
  }
  
.container {
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 18px;
    gap: 20px;
}
.icon img{
    height: 30px;
    width: 30px;
}
.number {
  margin-bottom: 20px;
}
#name {
  margin-bottom: 20px;
 
}
.location {
  display: flex;
 
  
}
.location img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
 
}
