<div class="container-fluid py-4">
    <div class="row py-4 g-3">

        <div class="col-md-6 first_col ">
            <h1 class="text-center mt-3">Contact Me</h1>
            <form [formGroup]="contactForm" class="p-4 mt-6" (submit)="sendEmail($event)">
                <div class="mb-3" form-group>
                    <label 
                        for="name" 
                        class="form-label">
                        Name: 
                    </label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="name" 
                        placeholder="Enter Your Name" 
                        formControlName="fullName" 
                        name="fullName" 
                        autocomplete="given-name" 
                        matInput/>
                </div>
                    <mat-error class="error" *ngIf="contactForm.get('fullName').hasError('required') && contactForm.get('fullName').touched">Name is required!</mat-error>
                    <mat-error class="error" *ngIf="contactForm.get('fullName').hasError('minlength') && contactForm.get('fullName').touched">Name must be at least 5 characters long.</mat-error>
                <div class="mb-3" form-group>
                    <label 
                        for="email" 
                        class="form-label">
                        Email: 
                    </label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="email" 
                        name="email"
                        aria-describedby="emailHelp" 
                        placeholder="Enter Email" 
                        formControlName="email" 
                        autocomplete="off"
                        matInput/>
                </div>
                 <mat-error class="error" *ngIf="contactForm.get('email').hasError('required') && contactForm.get('email').touched">Email is required</mat-error>
    <mat-error class="error" *ngIf="contactForm.get('email').hasError('email') && contactForm.get('email').touched">Email is incorrect</mat-error>
                <div class="mb-3" form-group>
                    <label 
                        for="text" 
                        class="form-label">
                        Enter your massage: 
                    </label>
                    <textarea  
                        type="text" 
                        class="form-control" 
                        id="text" 
                        formControlName="message" 
                        name="message" 
                        placeholder="Enter Your Message" 
                        rows="3" 
                        matInput #message maxlength="256">
                    </textarea>
                </div>
                <mat-hint align="start" class="personal">Don't disclose personal info </mat-hint>
                 <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                <div class="mb-3">
                    <button 
                        class="btn btn-primary" 
                        type="submit" 
                        mdbRipple 
                        (click)="saveContactDetails()">
                        Send Now
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6 sec_col">
            <img src="https://i.ibb.co/rp1jjYB/dariusz-sankowski-3-Oi-YMg-DKJ6k-unsplash.jpg"
                class="img-fluid">
        </div>
    </div>
    
</div>