<app-navbar></app-navbar>
<main>
    <h1 class="text-center mb-5">Contact Me</h1>
    <div class="container">
       
        <div class="col-md-4 offset-md-2">
            <form>
            <div class="form-group">
                <input type="text" id="name" class="form-control" name="Fullname" placeholder="Name" formControlName="Fullname">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Enter email"formControlName="Email">
            </div>
            <div class="form-group">
                <textarea class="form-control" formControlName="Comment" name="Comment" placeholder="Your Message" >
                </textarea>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
    
        </div>
        <div class="contacts">
            <div class="number">
                <img src="https://img.icons8.com/flat-round/64/phone.png" alt="phone"/>
                076 334 8795
            </div>
            <div class="email">
                <img src="https://img.icons8.com/arcade/64/new-post--v1.png" alt="new-post--v1"/>
                chumanimadikizela@gmail.com
            </div>
            <div class="location">
                <img src="https://img.icons8.com/fluency/96/place-marker.png" alt="place-marker"/>
                17 king Arthue avenue <br> Camelot, Kuilsriver, Cape Town 7580
            </div>
        </div>
    </div>
</main>