<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Project: Tax Calculator</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <h5>Objective:</h5>
      Develop a tax calculator system using Java and Java Swing, 
      following the Waterfall model. 
      This system calculates an individual's tax obligation based on their annual income, 
      as specified in the System Design Document.
    </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Close
    </button>
  </div>