<main class="container-fluid">
    <div class="h2 text-center mb-4 ">About Me</div>
    <div class="d-md-flex align-items-center justify-content-between pic">   
        <img class="img-fluid col-md-5" src="https://i.ibb.co/1rxbLKm/about1.png" alt="Your Picture">
        <p class="lead m-2 text">
            I am a dedicated, organized and methodical individual. 
            I have good interpersonal skills, 
            am an excellent team worker and am keen and very willing to learn and develop new skills. 
            I am reliable and dependable and often seek new responsibilities within a wide range of employment areas
            <br> 
            Lover of innovation and everything related to generating new knowledge. 
            I face problems with a smile and solve them as soon as possible. 
            I am very calculated about the time I spend and work I do.
        </p>
</div>
</main>
<!-- <div class="row slider">
    <div class="col-10 mx-auto">
        <div class="row">
            <section></section>
        </div>

    </div>

</div> -->