/* styles.css */
.my-pic {
    width: 300px;
    height: 320px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
h1{
  // padding-bottom: 30px;
  // padding-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  margin-bottom: 0px;
// float: right;
text-align: left;
}
h2 {
  margin-bottom: 30px;
  font-size: 14px;
  margin-bottom: 0px;
}
p{
  margin-top: 10px;
}
.btn {
  display: inline-flex;
  height: auto;
  padding: 0;
  margin: 0;;
  background: #009579;
  border: none;
  gap: 20px;
  border-radius: 5px;
  // overflow: hidden;
  font-size: 14px;
  // font-weight: 500;
  cursor: pointer;

  &button-icon {
    display: inline-flex;
    align-items: center;  }
    padding: 0 24px;
    height: 100%;
    font: size 1.5em;
    background: rgba( 0, 0, 0, 0.08);
    
}

.my-pic img {
    width: 100%;
    height: 110%;
    object-fit: cover;

}
.home{
  align-items: center;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 50px;
}



p {
    font-size: 14px;
    // margin-bottom: 20px;
}
.buttons {
    display: flex;
    justify-content: space-around;
    align-items: left;
}
.button {
    display: flex;
    text-align: center;
    width: max-content;
    padding: 5px 10px;
    border-radius: 0px 12px 0px 12px;
    border: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    font-size: 1.1rem;
    color: black;
    background-color:#16a34a;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
    transition: all 0.5s;
    position: relative;

    &:hover {
        background-color: #22c55e;
        color: white;
    }
    &:focus {
        background-color: #22c55e;
        color: white;
        transform: scale(0.98);
        box-shadow: none;
        border: 2px solid rgb(95, 94, 94);
    }
}
@media only screen and (min-width: 1200px) {      //1
  .my-pic {
    width: auto;
    // height: auto;
    // border-radius: 50%;
    // overflow: hidden;
    // margin-right: auto;
}
}

@media only screen and (max-width: 1024px) {      //2
  .my-pic {
    width: 300px;
    height: 320px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
}
@media screen and (max-width: 900px) {           //3
}
@media only screen and (max-width: 768px) {      //4
  .my-pic {
    width: 200px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
  }
  .drop{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text {
    text-wrap: none;

  }
}

@media only screen and (max-width: 600px) {          //5
  .drop{
    display: flex;
    flex-direction: column;
    align-items: center;
  }           //6
  .my-pic {
    width: 220px;
    height: 240px;
    border-radius: 50%;
    overflow: hidden;
    // margin-right: 20px;
  }
  .text {
    align-items: center;
    text-align: left;
  }
  h2 {
    font-size: medium;
  }
  h1 {
    font-size: large;
  }
  p {
    font-size: small;
  }
}
@media screen and (max-width: 480px) { 
  .drop{
    display: flex;
    flex-direction: column;
    align-items: center;
  }           //6
  .my-pic {
    width: 200px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
    // margin-right: 20px;
  }
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .text {
    align-items: center;
    text-align: left;
  }
  h2 {
    font-size: small;
  }
  h1 {
    font-size: large;
  }
  p {
    font-size: small;
  }

}
.social-links {
    margin-top: 20px;
    display: flex;
    gap: 2rem;
    flex-direction: row;
    border-radius: 1rem;
    padding: 0;
    width: auto;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 5px;
        transition: -0.6s;
        font-size: 18px;
        -webkit-transition: all 0.6s;
        border-radius: 0%;
        aspect-ratio: 1/1;
        i {
            font-size: 3.2rem;
            transition: 0.3s;
            -webkit-transition: all 0.3s;
            color: #000000;
        }

        &:hover {
            transform: scale(2);
            border-radius: 50%; 
            i:hover {
                color: #fff;
            }  
        }

        &:focus {
            transform: scale(2);
            border-radius: 50%;
            i {
                color: #fff;
            } 
        }
       
    }

}
.social-links .linkedin:hover,
.social-links .linkedin:focus {
  background-color: #0077b5;
}
.social-links .github:hover,
.social-links .github:focus {
  background-color: #252525;
}
.social-links .instagram:hover,
.social-links .instagram:focus {
  background: radial-gradient(
    circle at 30% 110%,
    #ffdb8b 0%,
    #ee653d 25%,
    #d42e81 50%,
    #a237b6 75%,
    #3e5fbc 100%
  );
}
.social-links .twitter:hover,
.social-links .twitter:focus {
  background-color: #1da1f2;
}
.social-links .dribbble:hover,
.social-links .dribbble:focus {
  background-color: #db2777;
}
.social-links .flickr:hover,
.social-links .flickr:focus {
  background-image: linear-gradient(to right, #1da1f2 50%, #db2777 50%);
}
.social-links .pinterest:hover,
.social-links .pinterest:focus {
  background-color: #e60023;
}
.social-links .medium:hover,
.social-links .medium:focus {
  background-color: var(--dark-gray);
}
.social-links .facebook:hover,
.social-links .facebook:focus {
  background-color: #3b5998;
}
.social-links .behance:hover,
.social-links .behance:focus {
  background-color: var(--dark-gray);
}