<app-navbar></app-navbar>

<div class="landing">
    <div class="my-pic">
        <img  src="https://i.ibb.co/L56wMZx/me.jpg"  alt="picture">
    </div>
    <div class="some-text">
        <h1>Hey there, <br> I'm Chumani Madikizela</h1>
        <p>Junior Software Developer</p>
        <div class="buttons">
            <button>Hire me</button>
            <button>Download CV</button>
        </div>
        <div class="icons">
            <img src="" alt="linkdin">
            <img src="" alt="github">
            <img src="" alt="twitter">
        </div>
    </div>
</div>

<app-footer></app-footer>