<main class="container " >
    <div class="d-lg-flex drop">
        <div class="my-pic ">
            <img  src="https://i.ibb.co/L56wMZx/me.jpg" 
            alt="Profile Picture"class="img-fluid mt-2 p-10" style="max-width: 100%;">
        </div>
        <div class="text">
            <div class="home">
            <h2 class="text-uppercase podition-relative">Hey I'm </h2> 
            <h1 class="text-uppercase">Chumani Madikizela</h1>
            <h5 class="text-uppercase">Junior Software Developer</h5>
            <div class="mt-5">
                <a class="main-btn primary-btn" href="#">Hire Me</a>
                <a class="main-btn primary-btn ms-4" href="#">Get CV</a>
            </div>
                <!-- <a class="btn btn-primary ms-1" href="#" role="button" mdbRipple>Hire Me</a> -->
                <!-- <a class="btn btn-primary ms-1" 
                    href="https://drive.google.com/file/d/1IH7aR4tBgUMhrRQskfDKCUyluQe6nbQZ/view?usp=drive_link" 
                    role="button" mdbRipple>
                    <span class="button-text p-2">Download CV</span>
                    <span class="button-icon p-2"><i class="fas fa-download"></i></span>
                     </a> -->
            </div>
            <div class="social-links">
                <a href="https://twitter.com/Chumamadikizela" 
                    aria-label="twitter" 
                    class="twitter" 
                    tabindex="16">
                    <i class="fab fa-twitter"> </i>
                </a>
                <a href="https://www.linkedin.com/in/chumani-madikizela-379187139/" 
                    aria-label="linkedin" 
                    class="linkedin" 
                    tabindex="13">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/chumani130" 
                    aria-label="github" 
                    class="github" 
                    tabindex="14">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.instagram.com" 
                    aria-label="instagram" 
                    class="instagram" 
                    tabindex="15">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</main>

