.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25%;
}
.my-pic img {
    width: 45%;
    height: 35%;
    border-radius: 50%;

    &:hover{
        border: 12px dotted blue;
        }
}