

<main class="container " >
    <div class="d-lg-flex drop">
        <div class="my-pic ">
            <img  src="https://i.ibb.co/L56wMZx/me.jpg" alt="Profile Picture"class="img-fluid mt-2 p-10" style="max-width: 100%;">
        </div>
        <div class="text">
            <h4>Hey there, <br> I'm Chumani Madikizela</h4>
            <p class="strong">Junior Software Developer</p>
            <div class="d-md-block">
                <!-- <a class="btn btn-primary ms-1" href="#" role="button" mdbRipple>Hire Me</a> -->
                <a class="btn btn-primary ms-1" href="#" role="button" mdbRipple>
                    <span class="button-text p-2">Download CV</span>
                    <span class="button-icon p-2"><i class="fas fa-download"></i></span>
                     </a>
            </div>
            <div class="social-links">
                <a href="https://twitter.com/Chumamadikizela" aria-label="twitter" class="twitter" tabindex="16">
                    <i class="fab fa-twitter"> </i>
                </a>
                <a href="https://www.linkedin.com/in/chumani-madikizela-379187139/" aria-label="linkedin" class="linkedin" tabindex="13">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/chumani130" aria-label="github" class="github" tabindex="14">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.instagram.com" aria-label="instagram" class="instagram" tabindex="15">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</main>

