
<main>
<h1>Projects</h1>
<div class="project card-container">
        <div class="project card 1" tabindex="">
            <div class="imgDiv">
                <img src="https://i.ibb.co/d7dqKwb/mzamo.png" alt="mzamo">
            </div>
            <br />
            <h6>Mzamomtsha website</h6>
            <p class="techstack">
                <span> Techstack </span> - HTML, CSS, Javascript
            </p>
            <div class="options">

                <a class="githubElem" href="https://github.com/chumani130/Mzamomtsha-Final-main_new/tree/main/Mzamomtsha-Final-main_new" target="_blank">
                </a>
            </div>
            <button class="btn-primary btn-lg">github</button>
        </div>
        <div class="project card 1" tabindex="">
            <div class="imgDiv">
                <img src="https://i.ibb.co/60BHXyr/bankApp.png" alt="bankApp">
            </div>
            <br />
            <h6>Banking App</h6>
            <p class="techstack">
                <span> Techstack </span> - Python
            </p>
            <p class="library">
                <span> Libraries </span> - Tkinter
            </p>
            <div class="options">
                <a class="githubElem" href="https://github.com/chumani130/BankApp" target="_blank"></a>
            </div>
        </div>
        <div class="project card 1" tabindex="">
            <div class="imgDiv">
                <img src="https://i.ibb.co/GJnKcm8/taxCal.png" alt="taxCal">
            </div>
            <br />
            <h6>Tax Calculator</h6>
            <p class="techstack">
                <span> Techstack </span> - Java
            </p>
            <p class="library">
                <span> Libraries </span> - Swing
            </p>
            <div class="options">
                <a class="githubElem" href="https://github.com/chumani130/Tax-Calculator-java" target="_blank"></a>
            </div>
        </div>
  </div>
</main>