
:root {

  --primary-yellow: #efcf5e;
  --parrot-green: #16a34a;
  --light-blue: #0090dd;
  --light-gray: #f7f7f7;
  --fade-white: #fffffff5;
  --text-gray: #3f3f46;
  --dark-gray: #18181b;
  --fade-black: #000000d7;

}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.card-container .card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 1.5rem;
  background-color: var(--light-gray);
  border-radius: 1rem;
  height: auto;
  width: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.card-container .card p {
  font-size: 10px;
  color: var(--text-gray);
}
.card-container .card p span {
  font-weight: 600;
}
.card-container .card .imgDiv {
  position: sticky;
  display: flex;
  margin: auto;
  overflow: hidden;
  height: -moz-max-content;
  height: max-content;
  border-radius: 1rem;
}
.card-container .card .imgDiv img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 1rem;
  margin: auto;
}
.card-container .card:hover {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transform: scale(1.05);
}


a {
  text-decoration: none;
}
