
<main>
<h1>Projects</h1>
<div class="project card-container">
        <div class="project card 1" tabindex="">
            <div class="imgDiv">
                <img src="https://i.ibb.co/d7dqKwb/mzamo.png" alt="mzamo">
            </div>
            <br />
            <h6>Mzamomtsha website</h6>
            <p class="techstack">
                <span> Techstack </span> - HTML, CSS, Javascript
            </p>
            <div class="d-inline-flex p-2 bd-highlight">
                <a  type="button" 
                    class="btn btn-outline-dark btn-rounded flex-grow-1 mx-2 button" 
                    href="https://github.com/chumani130/Mzamomtsha-Final-main_new/tree/main/Mzamomtsha-Final-main_new" 
                    role="button" mdbRipple>
                    <span class="button-text p-2" data-mdb-ripple-color="dark">Github</span>
                </a>
                <a  type="button" 
                    class="btn btn-outline-dark btn-rounded flex-grow-1 mx-2 button" 
                    role="button" mdbRipple
                    (click)="openMzamomtshaModal()">
                    <span class="button-text p-2" data-mdb-ripple-color="dark">Info</span>
                </a>
            </div>
        </div>
        <div class="project card 2" tabindex="">
            <div class="imgDiv">
                <img src="https://i.ibb.co/60BHXyr/bankApp.png" alt="bankApp">
            </div>
            <br />
            <h6>Banking App</h6>
            <p class="techstack">
                <span> Techstack </span> - Python (Tkinter)
            </p>
            <div class="d-inline-flex p-2 bd-highlight">
                <a  type="button" 
                    class="btn btn-outline-dark btn-rounded flex-grow-1 mx-2 button " 
                    href="https://github.com/chumani130/BankApp" 
                    role="button" mdbRipple>
                    <span class="button-text p-2" data-mdb-ripple-color="dark">Github</span>
                </a>
                <a  type="button" 
                    class="btn btn-outline-dark btn-rounded flex-grow-1 mx-2 button"  
                    role="button" mdbRipple 
                    (click)="openBankModal()">
                    <span class="button-text p-2" data-mdb-ripple-color="dark">Info</span>
                </a>
            </div>
        </div>
        <div class="project card 3" tabindex="">
            <div class="imgDiv">
                <img src="https://i.ibb.co/GJnKcm8/taxCal.png" alt="taxCal">
            </div>
            <br />
            <h6>Tax Calculator</h6>
            <p class="techstack">
                <span> Techstack </span> - Java (Swing)
            </p>
            <div class="d-inline-flex p-2 bd-highlight">
                <a  type="button" 
                    class="btn btn-outline-dark btn-rounded flex-grow-1 mx-2 button" 
                    href="https://github.com/chumani130/Tax-Calculator-java" 
                    role="button" mdbRipple>
                    <span class="button-text p-2" data-mdb-ripple-color="dark">Github</span>
                </a>
                <a  type="button" 
                    class="btn btn-outline-dark btn-rounded flex-grow-1 mx-2 button" 
                    role="button" mdbRipple
                    (click)="openCalculatorModal()">
                    <span class="button-text p-2" data-mdb-ripple-color="dark">Info</span>
                </a>
            </div>
        </div>
  </div>
</main>