<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Project: Banking app</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">
  <h5>Objective:</h5>
  Developed a GUI application using Python-Tkinter for users to manage their bank accounts. 
  The app allows users to register by providing a username, 
  opening balance, and PIN. 
  Registered users can log in to check balances, 
  view transaction history, and perform credit or debit transactions easily, 
  simplifying personal account management.
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Close
  </button>
</div>