/* default css start */

  // .container {
  //   width: 100%;
  //   max-width: 1440px;
  //   margin: 0 auto;
  //   padding: 0 15px;
  // }
 
  
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background: linear-gradient(45deg, #8b80aa, #333335);
  background-color: white;
  margin: 0;
  
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
}
img.mylogo {
  max-width: 60px;
  height: auto;
  border-radius: 10px;
}
.icon {
  display: flex;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  border-radius : 50%;
  // background-color: rgb(109, 108, 108);
  background-color: #66676c;


  img {
      color: #222;
      width: 25px;
      &:hover {
      transition: 1s ease-out;
    }
  }
 

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}
.icon:hover{
  transform: scale(1.5);
  background-color: #333335;
  opacity: 1;
}
.icon:active {
  transform: scale(1.5);
  background-color: #8b80aa;
  opacity: 1;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  // padding: 0;
  // margin: 0
  
}
icons a {
    color: #fff;
    padding: 12px;
    display: block;
    text-decoration: none;
}
  
  
  // @media screen and (max-width: 767px) {
  //   // .container {
  //   //   max-width: 720px;
  //   // }
    
  //   .site-navbar {
  //     min-height: 60px;
  //   }
  //   .site-navbar ul {
  //     position: absolute;
  //     width: 100%;
  //     height: calc(100vh - 60px);
  //     left: 0;
  //     top: 60px;
  //     flex-direction: column;
  //     align-items: center;
  //     background-color: rgba(0,0,0,.75);
  //     max-height: 0;
  //     overflow: hidden;
  //     transition: .3s;
  //   }
  //   .site-navbar ul li {
  //     width: 100%;
  //     text-align: center;
  //   }
  //   .site-navbar ul li a {
  //     padding: 25px;
  //   }
  //   .site-navbar ul li a:hover {
  //     background-color: rgba(255,255,255,.1);
  //   }
  //   .site-navbar ul.open {
  //     max-height: 100vh;
  //     overflow: visible;
  //   }
  // }
  
  
  
  
  
  // .header-area {
  //     background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5)),
  //     url(https://images.unsplash.com/photo-1528353518104-dbd48bee7bc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);
  //     background-position: center center;
  //     background-size: cover;
  //   }  when you are applyin a background on a contact page
  