<nav class="navbar navbar-expand-lg navbar-light bg-light" style=" padding: 10px;">
    <img 
      src="https://i.ibb.co/p17MnhT/Black-And-White-Globe-Y2k-Streetwear-Logo.png"
      height="58px"
      style=" padding-left: 20px;"
      alt="my-logo"
      loading="lazy"
      
      class="navbar-brand me-2"
    />
        <!-- Toggle button -->
        <button
        class="navbar-toggler"
        type="button"
        (click)="buttonsNav.toggle()"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse"
        id="navbarButtonsExample"
        mdbCollapse
        #buttonsNav="mdbCollapse"
      >
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">CHUMZ</a>
          </li>
        </ul>
        <!-- Left links -->

  <div class="d-flex align-items-center">
    <a routerLink="/home" 
          class="btn btn-white px-auto shadow-5-strong "
          role="button">
          <img src="https://img.icons8.com/ios/50/home--v1.png" width="36px" alt="home" title="Home"/>
        </a>
        <a routerLink="/about"
          class="btn btn-white px-auto shadow-5-strong"
          role="button">
          <img src="https://img.icons8.com/ios/50/about.png" width="36px" alt="about" title="About"/>
        </a>
        <a routerLink="/skills"
        class="btn btn-white px-auto shadow-5-strong"
        role="button">
        <img src="https://img.icons8.com/dotty/80/admin-settings-male.png" width="36px" alt="skills" title="Skills"/>
      </a>
      <a  routerLink="/projects"
      class="btn btn-white px-auto shadow-5-strong"
      role="button">
      <img src="https://img.icons8.com/ios/50/group-of-projects.png" width="36px" alt="projects" title="Projects"/>
    </a>
    <a routerLink="/education"
          class="btn btn-white px-auto shadow-5-strong"
          role="button">
          <img src="https://img.icons8.com/dotty/80/education.png" width="36px" alt="education" title="Education"/>
        </a>
        <a routerLink="/experience"
          class="btn btn-white px-auto shadow-5-strong"
          role="button">
          <img src="https://img.icons8.com/dotty/80/customer-insight.png" width="36px" alt="experience" title="Experience"/>
        </a>
        <a routerLink="/contact"
          class="btn btn-white px-auto shadow-5-strong"
          role="button">
          <img src="https://img.icons8.com/ios/50/000000/contact-card.png" width="36px" alt="Contact" title="Contact"/>
        </a>
  </div>
  
  
