<div class="navbar">
  <div class="logo">
    <img src="https://i.ibb.co/p17MnhT/Black-And-White-Globe-Y2k-Streetwear-Logo.png" alt="Logo" class="mylogo">
  </div>
  <div class="icons">
    <a routerLink="/home" class="home">
      <div class="icon">
        <img src="https://img.icons8.com/ios/50/home--v1.png" alt="home" title="Home"/>
      </div>
    </a>
    <a routerLink="/about" class="about">
      <div class="icon">
        <img src="https://img.icons8.com/ios/50/about.png" alt="about" title="About"/>
      </div>
    </a>
    <a routerLink="/skills" class="skills">
      <div class="icon">
        <img src="https://img.icons8.com/dotty/80/admin-settings-male.png" alt="skills" title="Skills"/>
      </div>
    </a>
    <a routerLink="/projects" class="projects">
      <div class="icon">
        <img src="https://img.icons8.com/ios/50/group-of-projects.png" alt="projects" title="Projects"/>
    </div>
    </a>
    <a routerLink="/education" class="education">
      <div class="icon">
        <img src="https://img.icons8.com/dotty/80/education.png" alt="education" title="Education"/>
      </div>
    </a>
    <a routerLink="/experience" class="experience">
      <div class="icon">
        <img src="https://img.icons8.com/dotty/80/customer-insight.png" alt="experience" title="Experience"/>
      </div>
    </a>
    <a routerLink="/contact" class="contact">
      <div class="icon">
        <img src="https://img.icons8.com/ios/50/000000/contact-card.png" alt="contact" title="Contact"/>
      </div>
    </a>
  </div>
</div>

  
  
