<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="90">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-3">
          <div class="logo">
            <img src="https://i.ibb.co/p17MnhT/Black-And-White-Globe-Y2k-Streetwear-Logo.png" loading="lazy">
          </div>
        </div>
        <div class="col-md-9 col-sm-9 col-9 text-end">
          <div class="menu_icon" [class.menu_icon_Class]="menu_icon_Varriable" (click)="openMenu()">
            <span></span>
            <span></span>
            <span></span> 
          </div>
          <div class="menu" [class.menuClass]="menuVariable">
            <ul>
              <li>
                <a routerLink="/home"
                  [routerLinkActive]="'active'"
                  [routerLinkActiveOptions]={exact:true}
                  (click)="scrollToHome()">
                  <img src="https://img.icons8.com/ios/50/home--v1.png" width="36px" alt="home" title="Home"/>
                  <p>home</p>
                </a>
              </li>
              <li>
                <a routerLink="/about"
                  [routerLinkActive]="'active'"
                  [routerLinkActiveOptions]={exact:true}
                  (click)="scrollToAbout()">
                  <img src="https://img.icons8.com/ios/50/about.png" width="36px" alt="about" title="About"/>
                  <p>About</p>
                </a>
              </li>
              <li>
                <a routerLink="/skills"
                  [routerLinkActive]="'active'"
                  [routerLinkActiveOptions]={exact:true}
                  (click)="scrollToSkills()">
                  <img src="https://img.icons8.com/dotty/80/admin-settings-male.png" width="36px" alt="skills" title="Skills"/>
                  <p>Skills</p>
                </a>
              </li>
              <li>
                <a routerLink="/projects"
                  [routerLinkActive]="'active'"
                  [routerLinkActiveOptions]={exact:true}
                  (click)="scrollToProjects()">
                  <img src="https://img.icons8.com/ios/50/group-of-projects.png" width="36px" alt="projects" title="Projects"/>
                  <p>Projects</p>
                </a>
              </li>
              <li>
                <a routerLink="/education"
                  [routerLinkActive]="'active'"
                  [routerLinkActiveOptions]={exact:true}
                  (click)="scrollToEducation()">
                  <img src="https://img.icons8.com/dotty/80/education.png" width="36px" alt="education" title="Education"/>
                  <p>Education</p>
                </a>
              </li>
              <li>
                <a routerLink="/experience"
                  [routerLinkActive]="'active'"
                  [routerLinkActiveOptions]={exact:true}
                  (click)="scrollToExperience()">
                  <img src="https://img.icons8.com/dotty/80/customer-insight.png" width="36px" alt="experience" title="Experience"/>
                  <p>Experience</p>
                </a>
              </li>
              <li>
                <a routerLink="/contact"
                [routerLinkActive]="'active'"
                [routerLinkActiveOptions]={exact:true}
                (click)="scrollToContact()">
                <img src="https://img.icons8.com/ios/50/000000/contact-card.png" 
                alt="Contact"/>
                <p>contact</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div id="home" class="mt-6">
      <app-home></app-home>
  </div>
  <div id="about" >
      <app-about></app-about>
  </div>
  <div id="skills" >
      <app-skills></app-skills>
  </div>
  <div id="projects" >
      <app-projects></app-projects>
  </div>
  <div id="education" >
      <app-education></app-education>
  </div>
  <div id="experience" >
      <app-experience></app-experience>
  </div>
  <div id="contact" >
      <app-contact></app-contact>
  </div>
  <footer class="footer">
      <app-footer></app-footer>
  </footer>
</body>