<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="90">
  <header class="header_wrapper">
    <nav class="navbar navbar-expand-lg fixed-top bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="https://i.ibb.co/p17MnhT/Black-And-White-Globe-Y2k-Streetwear-Logo.png"
          alt="my-logo"
          loading="lazy"
          class="img-fluid"/>
        </a>

        <button class="navbar-toggler" 
          type="button"
          (click)="buttonsNav.toggle()"
          data-bs-toggle="collapse"  
          data-bs-target="#navbarNav" 
          aria-controls="navbarNav" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div
          class="collapse navbar-collapse"
          id="navbarButtonsExample"
          mdbCollapse
          #buttonsNav="mdbCollapse">
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" style=" padding-left: 20px;" href="#">CHUMZ</a>
            </li>
          </ul>
          <!-- Left links -->

          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" 
                  aria-current="page" 
                  href="#home">
                  <img src="https://img.icons8.com/ios/50/home--v1.png" width="36px" alt="home" title="Home"/>
                  <p>home</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" 
                  href="#about">
                  <img src="https://img.icons8.com/ios/50/about.png" width="36px" alt="about" title="About"/>
                  <p>About</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" 
                  href="#skills">
                  <img src="https://img.icons8.com/dotty/80/admin-settings-male.png" width="36px" alt="skills" title="Skills"/>
                  <p>Skills</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" 
                  href="#projects">
                  <img src="https://img.icons8.com/ios/50/group-of-projects.png" width="36px" alt="projects" title="Projects"/>
                  <p>Projects</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" 
                  href="#education">
                  <img src="https://img.icons8.com/dotty/80/education.png" width="36px" alt="education" title="Education"/>
                  <p>Education</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" 
                  href="#experience">
                  <img src="https://img.icons8.com/dotty/80/customer-insight.png" width="36px" alt="experience" title="Experience"/>
                  <p>Experience</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" 
                  href="#contact">
                  <img src="https://img.icons8.com/ios/50/000000/contact-card.png" alt="Contact" title="Contact" width="36px"/>
                  <p class="strong">contact</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

  </header>
  

 
 
 <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top menu" >
    <div class="container">
      <img
        src="https://i.ibb.co/p17MnhT/Black-And-White-Globe-Y2k-Streetwear-Logo.png"
        height="58px"
        style=" padding-left: 20px;"
        alt="my-logo"
        loading="lazy"
        class="navbar-brand me-2"/> -->
          <!-- Toggle button -->
          <!-- <button
          class="navbar-toggler"
          type="button"
          (click)="buttonsNav.toggle()"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button> -->

        <!-- Collapsible wrapper -->
        <!-- <div
          class="collapse navbar-collapse"
          id="navbarButtonsExample"
          mdbCollapse
          #buttonsNav="mdbCollapse" -->
        >
        <!-- Left links -->
        <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" style=" padding-left: 20px;" href="#">CHUMZ</a>
          </li>
        </ul> -->
        <!-- Left links -->

        <!-- <div class="d-md-flex align-items-center">
          <a routerLink="/"
            routerLinkActive="active" 
            [routerLinkActiveOptions]={exact:true}
            (click)="scrollToHome()"
            class="btn btn-white px-auto shadow-5-strong home"
            role="button">
            <img src="https://img.icons8.com/ios/50/home--v1.png" width="36px" alt="home" title="Home"/>
          </a>
          <a routerLink="/about"
            routerLinkActive="active"
            (click)="scrollToAbout()"
            class="btn btn-white px-auto shadow-5-strong"
            role="button">
            <img src="https://img.icons8.com/ios/50/about.png" width="36px" alt="about" title="About"/>
          </a>
          <a routerLink="/skills"
            [routerLinkActive]="'active'"
            (click)="scrollToSkills()"
            class="btn btn-white px-auto shadow-5-strong"
            role="button">
            <img src="https://img.icons8.com/dotty/80/admin-settings-male.png" width="36px" alt="skills" title="Skills"/>
          </a>
          <a routerLink="/projects"
            [routerLinkActive]="'active'"
            (click)="scrollToProjects()"
            class="btn btn-white px-auto shadow-5-strong"
            role="button">
            <img src="https://img.icons8.com/ios/50/group-of-projects.png" width="36px" alt="projects" title="Projects"/>
          </a>
          <a  routerLink="/education"
            [routerLinkActive]="'active'"
            (click)="scrollToEducation()"
            class="btn btn-white px-auto shadow-5-strong"
            role="button">
            <img src="https://img.icons8.com/dotty/80/education.png" width="36px" alt="education" title="Education"/>
          </a>
          <a  routerLink="/experience"
            [routerLinkActive]="'active'"
            (click)="scrollToExperience()"
            class="btn btn-white shadow-5-strong"
            role="button">
            <img src="https://img.icons8.com/dotty/80/customer-insight.png" width="36px" alt="experience" title="Experience"/>
            <p>Experience</p>
          </a>
          <a  routerLink="/contact"
            [routerLinkActive]="'active'"
            (click)="scrollToContact()"
            class="btn btn-white shadow-5-strong padding"
            role="button">
            <img src="https://img.icons8.com/ios/50/000000/contact-card.png" alt="Contact" title="Contact"/>
            <p>contact</p>
          </a>
        </div>

        </div>
    </div>
</nav> -->


  <div id="home" class="mt-6">
      <app-home></app-home>
  </div>
  <div id="about" >
      <app-about></app-about>
  </div>
  <div id="skills" >
      <app-skills></app-skills>
  </div>
  <div id="projects" >
      <app-projects></app-projects>
  </div>
  <div id="education" >
      <app-education></app-education>
  </div>
  <div id="experience" >
      <app-experience></app-experience>
  </div>
  <div id="contact" >
      <app-contact></app-contact>
  </div>
  <footer class="footer">
      <app-footer></app-footer>
  </footer>
</body>