
<header>
    <nav>
        <ul>
            <li><a href="#home">Section 1</a></li>
            <li><a href="#about">Section 2</a></li>
            <li><a href="#skills">Section 3</a></li>
        </ul>
    </nav>
</header>
<div id="#home">
    <app-home></app-home>
</div>
<div id="#about" >
    <app-about></app-about>
</div>
<div id="#skills" >
    <app-skills></app-skills>
</div>
<div id="#project" >
    <app-projects></app-projects>
</div>
<div id="#education" >
    <app-education></app-education>
</div>
<div id="#about" >
    <app-experience></app-experience>
</div>
<div id="#about" >
    <app-contact></app-contact>
</div>
<footer class="footer">
    <app-footer></app-footer>
</footer>
