
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    background-color: aquamarine;
}
a {
    text-decoration: none;
}
.cursor {
    cursor: pointer;
}
.pad-to-zero{padding: 0,0,0,0;}

.active {
    background-color:#caccd4;
    img {
        align-items: center;
    }
    .menu {
        padding: 0 0.7rem;
    }
}
p {
    font-size:xx-small;
}
::-webkit-scrollbar {
    width: 0.25rem;
}
::-webkit-scrollbar-track {
    background-color: aliceblue;
}
::-webkit-scrollbar-thumb {
    background-color: black;
}
section {
    padding: 5rem 0;
}
.footer {
    margin-top: 30px;
}
main-button {
    display: inline;
}
// navbar
.header_wrapper .navbar {
    padding: 0.93rem;
    -o-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.header_wrapper .navbar-brand img {
    max-width: 5rem;
    height: auto;
}
.header_wrapper .navbar-toggler:focus {
    box-shadow: none;
}
.header_wrapper .nav-item {
    margin: 0 0.625rem;
}
.header_wrapper .nav-item .nav-link {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
    color: blue;
}
.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0 0.25rem 0.375 rgba(12, 0, 46, .05);
    box-shadow: 0 0.25rem 0.375 rgba(12, 0, 46, .05);
}



@import "~bootstrap/dist/css/bootstrap.css";


// header {
//     padding: 10px;

// }
// .menu{
//  margin-top: 20px;
// }
// menu ul{
//     padding: 0;
//     margin: 0;

// }
// .menu ul li {
//     list-style-type: none;
//     color: black;
//     display: inline-block;
//     font-size: 20px;
//     margin-left: 24px;
//     &:hover {
//         color: aquamarine;
//     }
// }

// img.mylogo {
//     max-width: 60px;
//     height: auto;
//     border-radius: 10px;
//   }

//   @media only screen and (max-width: 999px) {
//     .menu {
//         position: fixed;
//         right: -280;
//         top: 64px;
//         width: 280px;
//         height: 100%;
//     }
//     .menu ul li {
//         display: block;
//         text-align: left;
//         margin: 0;
//         padding: 10px 0 10px 26px;
//         border-bottom: 1px solid #312f2f;
//     }
//     .menu_icon {
//         display: inline-block;
//         position: relative;
//         right: 0;
//         top: 20px;

//     }
//     .menu_icon span {
//         width: 32px;
//         height: 3px;
//         background: #312f2f;
//         display: block;
//     }
//     .menu_icon span:nth-child(2){
//         margin: 4px 0;
//     }
//     .menuClass {
//         right: 0;
//     }
//   }