
<main>
    <h1>Education</h1>
    <div class="project card-container">
            <div class="project card 1" tabindex="">
                <div class="imgDiv">
                    <img src="https://i.ibb.co/60BHXyr/bankApp.png" alt="bankApp">
                </div>
                <br />
                <h6>Banking App</h6>
                <p class="techstack">
                    <span> Techstack </span> - Python
                </p>
                <p class="library">
                    <span> Libraries </span> - Tkinter
                </p>
                <div class="options">
                    <a class="githubElem" href="https://github.com/chumani130/BankApp" target="_blank"></a>
                </div>
            </div>
     
      </div>
</main>