.card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 1.5rem;
  background-color: white;
  border-radius: 1rem;
  height: auto;
  width: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  box-shadow: rgba(13, 13, 73, 0.2) 0 7px 29px 0;
}
.card:hover {
background-color: #b5bdc4;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transform: scale(1.05);
}
@media screen and (max-width: 480px) {            //6
  .card {
    /* Change the card's max-width to 100% to make it a full-width column */
    max-width: 100%;
  }

  .col-md-4 {
    /* Center the image horizontally within its container */
    text-align: center;
    .col-md-4 img {
      /* Remove the width, height, and margin styles for the image */
      width: auto;
      height: auto;
      margin: 0;
      /* Adjust the border-radius to your preference */
      border-radius: 10%;
    }
  }
  .col-md-8 {
    text-align: center;
    h4 {
      text-wrap: wrap;
      font-size: large;
    }
    h5 {
      text-wrap: wrap;
      font-size: medium;
    }
    h6 {
      text-wrap: wrap;
      font-size: small;
    }
  }

  

}
