
<main>
  <div class="h1">
      <h1>Education</h1>
  </div>
  
  <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="https://i.ibb.co/0XYK4T5/edu.png"
            alt="education"
            style="border-radius: 10%; width: 140px; height: 130px; margin: 10px; padding-top: 10px;"
            class="img-fluid rounded-start"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">Walter Sisulu University</h4>
            <h5 class="card-title">Bsc in Computer Science</h5>
            <h6 class="card-title">13 october 2023</h6>
          </div>
        </div>
      </div>
    </div>
  
    </main>