<app-navbar></app-navbar>
<main>
    <h1>My Skills</h1>
    <div class="skill-container">
        <div class="skill-tile">
            <img src="https://img.icons8.com/external-tal-revivo-shadow-tal-revivo/24/external-angular-a-typescript-based-open-source-web-application-framework-logo-shadow-tal-revivo.png" alt="external-angular-a-typescript-based-open-source-web-application-framework-logo-shadow-tal-revivo">
            <p class="tile-text">Angular</p>
        </div>
        <div class="skill-tile">
            <img src="https://img.icons8.com/fluency/96/java-coffee-cup-logo.png" alt="java-coffee-cup-logo">
            <p class="tile-text">Java</p>
        </div>
        <div class="skill-tile">
            <img src="https://img.icons8.com/color/96/javascript--v1.png" alt="javascript--v1">
            <p class="tile-text">Javascript</p>
        </div>
        <div class="skill-tile">
            <img src="https://img.icons8.com/color/96/html-5--v1.png" alt="html-5--v1">
            <p class="tile-text">Html</p>
        </div>
        <div class="skill-tile">
            <img src="https://img.icons8.com/plasticine/100/css3.png" alt="css3">
            <p class="tile-text">CSS</p>
        </div>
        <div class="skill-tile">
            <img src="https://img.icons8.com/fluency/96/python.png" alt="python">
            <p class="tile-text">Python</p>
        </div>
        <div class="skill-tile">
            <img src="https://img.icons8.com/color/96/google-firebase-console.png" alt="google-firebase-console">
            <p class="tile-text">Firebase</p>
        </div>
        <div class="skill-tile">
            <img src="https://img.icons8.com/color/96/c-plus-plus-logo.png" alt="c-plus-plus-logo">
            <p class="tile-text">c++</p>
        </div>
        <div class="skill-tile">
            <img src="https://img.icons8.com/color/96/nodejs.png" alt="nodejs">
            <p class="tile-text">Nodejs</p>
        </div>
    </div>    
</main>