<div class="footer">
    <div class="follow">let's chat!</div>
    <div class="social-links">
        <a href="https://twitter.com/Chumamadikizela" aria-label="twitter" class="twitter" tabindex="16">
            <i class="fab fa-twitter"> </i>
        </a>
        <a href="https://www.linkedin.com/in/chumani-madikizela-379187139/" aria-label="linkedin" class="linkedin" tabindex="13">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/chumani130" aria-label="github" class="github" tabindex="14">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.instagram.com" aria-label="instagram" class="instagram" tabindex="15">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
    <div class="copyright">
        &copy;Chumani 2023. All rights reserved.
    </div>
</div>
