<footer class="text-center text-white" style="background-color: #a19d9d;">
    <!-- Grid container -->
    <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4 foo">
            <div class="icons">
                <!-- Twitter -->
            <a
            class="btn btn-link btn-floating btn-lg text-white m-1 custom-github-button"
            style="background-color: #3b5998;" 
            href="#!"
            role="button"
            data-mdb-ripple-color="dark">
            <i class="fab fa-twitter"></i>
        </a>
        <!-- instagram -->
        <a
            class="btn btn-link btn-floating btn-lg text-white m-1 custom-github-button"
            style="background-color: #ac2bac;" 
            href="https://www.instagram.com"
            role="button"
            data-mdb-ripple-color="dark">
            <i class="fab fa-instagram"></i>
        </a>
        <!-- Linkedin -->
        <a
            class="btn btn-link btn-floating btn-lg text-white m-1 custom-github-button"
            style="background-color: #0082ca;"
            href="https://www.linkedin.com/in/chumani-madikizela-379187139/"
            role="button"
            data-mdb-ripple-color="dark">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <!-- Github -->
        <a
            class="btn btn-link btn-floating btn-lg text-white m-1 custom-github-button"
            style="background-color: black"
            href="https://github.com/chumani130"
            role="button"
            data-mdb-ripple-color="dark">
            <i class="fab fa-github"></i>
        </a>
            </div>
        </section>
    </div>
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        &copy;Chumani 2023. All rights reserved.
    </div>
</footer>
<!-- <div class="contacts">
            <div class="number">
                <img src="https://img.icons8.com/flat-round/64/phone.png" alt="phone"/>
                076 334 8795
            </div>
            <div class="email">
                <img src="https://img.icons8.com/arcade/64/new-post--v1.png" alt="new-post--v1"/>
                chumanimadikizela@gmail.com
            </div>
            <div class="location">
                <img src="https://img.icons8.com/fluency/96/place-marker.png" alt="place-marker"/>
                17 king Arthue avenue <br> Camelot, Kuilsriver, Cape Town 7580
            </div>
        </div> -->
<!-- </main> -->