.row {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: auto;
    align-items: center;
    gap: 15px;
    width: 900px;
    height: 15%;
}
.card {
    background: rgba(black,0.2);
    margin: 20px;
    align-items: center;
    
}
// .card-body {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;

// }