<app-navbar></app-navbar>
<main>
    <h1>My Experience</h1>
    <div class="row">
        <div class="col-sm-6 mb-1 mb-sm-0">
          <div class="card inner">
            <div class="card-body">
              <h5 class="card-title">Capacity</h5>
              <p class="card-text">January - July 2023 <br> Software Development <br> Learnership</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Younglings</h5>
              <p class="card-text">July (2023) - June (2024) <br> Junior Software Development <br>Internship</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
    </div>
</main>